.top-section {
    text-align: center;
}

.middle-section {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    margin: 30px;
    height: 372px;
    width: 1150px;
    min-width: 350px;
    padding: 50px 40px;
}

.bottom-section {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    margin: 30px;
    height: 372px;
    width: 1150px;
    min-width: 350px;
    padding: 50px 40px;
}